* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.banner-container {
      width: 100vw;
      height: 25vh;
      background-color: #CC2048;
      color: #ffffff;
      font-family: Helvetica, Arial, sans-serif;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
  }

.bed-details {
    display: none;
  }

.sale-details {
    width: 50vw;
    height: 100%;
    border: #ffffff solid 1px;
  }

.extra-offers {
    width: 50vw;
    height: 100%;
    border: #ffffff solid 1px;
  }

@media only screen and (min-width: 600px) {
    .bed-details {
        display: flex;
        width: 40vw;
        height: 100%;
        border: #ffffff solid 1px;
        background-image: url(https://img.dreams.co.uk/i/dreams/Brussels-Fabric--Roomset.jpg?w=500&h=300&pcrop=1000,1400,3100,2000&sm=c);
        background-repeat: no-repeat;
        background-size: cover;
      }

      .bed-details-info {
        color: black;
        align-self: flex-end;
        padding: 0.625rem;
        font-size: 0.625rem;
      }

      .bd-info-bold {
        font-weight: 900;
      }

      .bd-info-light {
        font-weight: 300;
      }

      .bd-info-red {
        color: #CC2048;
      }

      .bd-info-price {
        margin-top: 6px;
      }
      .sale-details {
        width: 30vw;
      }
      .extra-offers {
        width: 30vw;
      }
    
}